@use "/global_variables.scss" as *;

.steps-section {
  padding: 4rem 0;
  position: relative;
}


.steps-heading-wrapper {
  text-align: center;
  margin-bottom: 3rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  
  
  .steps-overline {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    color: $gray-500;
    margin-bottom: 0.5rem;
  }

  .steps-title {
    font-size: 2rem;
    line-height: 1.3;
    color: $gray-800;
    max-width: 800px;
    margin: 0 auto;


    .highlight {
      color: #b10e24;
    }

    @media (max-width: 920px){
      font-size: 1rem;
    }
  }
}


.steps-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 4rem;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  

  @media (max-width: 920px) {
    
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;
      gap: 0;
      margin: 0;
   
  }
  

  .steps-image-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5rem;

    @media (max-width: 920px){
      margin: 10;
      justify-content: center;
    }

    .image-box {
      position: relative;
      display: inline-block;

      .layer-one,
      .layer-two {
        position: absolute;
        top: .6rem;
        left: 0;
        width: 100%;
        height: auto;
      }

      .layer-one {
        z-index: 1;
        width: 545px;
        height: 511px;

        @media (max-width: 920px){
          width: 300px;
          height: 289px;
        }
      }

      .layer-two {
        z-index: 2;
        width: 500px;
        height: 502px;
        margin-left: 2rem;

        @media (max-width: 920px){
          width: 280px;
          height: 289px;
          margin-left: 1rem;
        }
      }

     
      .person-image {
        position: relative;
        z-index: 3;
        width: 680px;
        height: 500px;
        display: block;
        border-radius: 8px;
        margin-left: 2rem;
        margin-top: 0;

        @media (max-width: 920px){
          width: 340px;
          height: 289px;
          margin-left: 3rem;
        }
      }
    }

    
  }

  .steps-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 600px;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: auto;

    @media (max-width: 1025px){
      grid-template-columns: repeat(1, 1fr);
      gap: 0.7rem;
      margin: 30px;
    }
    
    

    .step {
      display: flex;
      align-items: flex-start;
      gap: 2rem;

      .step-number {
        min-width: 40px;
        height: 40px;
        background-color: #b10e24;
        color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1rem;
        flex-shrink: 0;

        @media (max-width: 920px){
          min-width: 25px;
          height: 25px;
          font-weight: 500;
          font-size: .8rem;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.4;
        color: $gray-700;
        margin: 0;

        strong {
          color: $gray-800;
        }
      }
    }
  }
  
}